<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	
	<title>{% block title %}{% endblock %}</title>
	<style>
		.page { padding: 0em; margin: 0em; background: #FF0	}
		{% block style %}{% endblock %}
	</style>
	</head>
	<body>
		<div class=page>
			{% block body %}{% endblock %}
		</div>
	</body>
</html>
